main .main .container h1 {
  text-align: center;
}

main .main .container p {
  line-height: 1.5rem;
}

main .main .container .highlight {
  background-color: #ffd700;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  line-height: 2rem;
}
