main .main .partialDiv h2 {
    text-align: center;
}

main .main .partialDiv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

main .main .partialDiv .container {
    min-width: 60%;
}

main .main .partialDiv .container img {
    max-width: 100%;
}